.wd-tuit-topic{
font-size: 12px;
    color: darkgray;
}
.wd-tuit-author{
color:black;
    font-weight: bold;
    font-size:12px;
}
.wd-tuit-timestamp{
    font-size: 12px;
    color: darkgray;
}

.wd-article-pic{
    width: 60px;
}

.wd-profile-pic{
    border-radius: 48%;
    width:27px;
}

.wd-tuit-handle{
    font-size:12px;
    color:darkgray;
}

.wd-small{
    font-size: 9px;
}

.wd-stacked-offset{
left:-11px;
}

.wd-stacked-offset-text{
    left:-11px;
}

.wd-cog{
    margin-top: 200px;
}

/*
.has-search.form-control and .has-search.form-control-feedback
were taken from here
https://www.gungorbudak.com/blog/2018/12/12/bootstrap-4-search-box-with-search-icon/
*/
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}